<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Todolist</title>
</head>

<body>

    <div id="app">
        <div class="app-container">
            <div class="my-alert" :class="{error : isActive}">
                <span>Inserire una Task da almeno 5 caratteri!</span>
            </div>
            <h1 class="title">Todolist</h1>
            <div class="todo-box">
                <div class="user-controls">
                    <input class="user-input" type="text" placeholder="New Task" v-model="taskText"
                        @keyup.enter.stop="addTask()">
                    <button class="add-btn" :class="{active : isActive, changebtn : change}" @click="addTask()">Add
                        Task</button>
                </div>
                <div class="user-tasks">
                    <div class="list-tasks">
                        <ul>
                            <li v-for="(el, i) in tasksList" :class="{removetask : tasksList[i].isRemove}">
                                <span :class="{checkedtext : tasksList[i].done}" @click="checked(i)">
                                    {{tasksList[i].count}}. {{tasksList[i].text}}</span>
                                <div class="icons-box">
                                    <div class="icon-check" :class="{checked : tasksList[i].done}" @click="checked(i)">
                                        <i class="fa-solid fa-check"></i>
                                    </div>
                                    <div class="icon-check" @click="remove(i)">
                                        <i class="fa-solid fa-trash"></i>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./js/app.js"></script>
</body>

</html>